@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype')
}

.questionsList{
    color: white;
}

.question{
    margin: 10px;
    background-color:#162F46;
    display:flex;
    width: 1336px;
    height: 50px;
}

.questionInfo p{
    display: flex;
    float: right;
    max-width: 100%;
    min-height: 2em;
}


.arrow{
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    height:30px ;
}

.briefText{
    float: left;
    font-family: Montserrat;
    margin-left: 13px;
    margin-top: 13px;
    font-size: 20px;
}

.createdAt{
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 17px;
}

.createdBy{
    max-width: 10em;
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 13px;
    /* margin-right: 2%; */
}